* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
html {
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
	font-family: 'Raleway';
	background-color: var(--bg-black-50);
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.row {
	display: flex;
    flex-wrap: wrap;
}